<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsNP5W5Gj3yvFv772cgb4xS2cjtsGTUKU</string>
	<key>GCM_SENDER_ID</key>
	<string>847000496164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>parsanna.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-90a81</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-90a81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847000496164:ios:2c756744c4e24ce16e50b1</string>
</dict>
</plist>